<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          <%= Date.today.strftime "%Y-%m-%d" %>
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <%= File.read "views/summary.html" %>
    </div>
    <div style='display: inline-block; max-width: 40%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li>prior 5 days is including the day of the drop</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
      </ul>
    </div>
    <br/>
    <center><h2><%= START.upcase %> - <%= FIN.upcase %></h2></center>
    <p>SPY ROI for <%= START.upcase %> - <%= FIN.upcase %>: <%= uusi(perc(spy(Time.parse(START), Time.parse(FIN)))) %></p>
    <p>mean ROI for trades shown: <%= uusi(mean_ROI) %></p>
    <p>mean ROI if you were to also sell everything you're still holding: <%= uusi(liquidated_ROI) %></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      <% rows.each do |row| %>
        <tr>
          <% row.each do |col| %>
            <td><%= col %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </body>
</html>
